.tag {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 80px;
  justify-content: space-around;
}
input {
  width: 80px;
  background-color: black;
  color: grey;
  border-radius: 5px;
}
.update-btn {
  width: 60px;
  background-color: white;
  border-radius: 5px;
}
